###**기본 타입 확인**

int(정수), float(실수), str(문자열), bool(True/False)

'type()'으로 데이터 형식 확인

In [ ]:
print('hello, world')

hello, world

In [ ]:
def plus_(a, b):
  c = a + b
  print(c)
plus_(3, 4)

7

In [ ]:
def sum_ab(a, b):
  c = a + b
  print(c)

sum_ab(2020, 30)

2050

In [ ]:
# 숫자와 문자, bool 형식을 각 변수에 지정 후 확인

num_a = 15
float_b = 8.54
world = 'python'
d = False

print(type(num_a), type(float_b), type(world), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
# 연산 결과를 각 변수에 담는다.
x1 = 10 + 5
x1

15

In [ ]:
x2 = 10 - 5
x2

5

In [ ]:
x3 = 10 / 5
x3

2.0

In [ ]:
x4 = 10 + 5
x4

15

In [ ]:
x5 = 10 ** 5
x5

100000

In [ ]:
x6 = 10 // 3
x6

3

In [ ]:
x7 = 10 % 3
x7

1

In [ ]:
# 비교 연산자 ==, !=, >, <, >=, <= 사용 가능

b1 = x1 != x2
b1

True

In [ ]:
b2 = x1 != x2
b2

True

###연습 문제

In [ ]:
# 1. 50을 14로 나눈 나머지를 구하여 변수 a1에 지정
# 나머지 구하는 함수는 %

a1 = 50 % 14
a1

8

In [ ]:
# 57을 10으로 나누었을때의 몫을 구하여 변수 a2에 지정
# 몫 구하는 함수는 //

a2 = 57 // 10
a2

5

In [ ]:
# a1과 a2의 대소 구분을 <, >, == 으로 출력

b1 = a1 > a2
b2 = a1 < a2
b3 = a1 == a2
print(b1, b2, b3)

True False False

In [ ]:
# a1 + a2를 a3변수로 지정하고 홀수인지 짝수인지 출력

a3 = a1 + a2
a3, (a3 % 2) == 1, (a3 % 2) == 0, (a3 % 2) != 1

(13, True, False, False)

##자료형 데이터

### **1) 튜플(tuple)**
튜플은 여러 값을 하나로 묶는 자료형으로, 튜플 내의 값은 수정할 수 없다.

수정이 불가능 (immutable), 고정된 데이터 묶음에 사용

In [ ]:
# 튜플 형식은 값이 하나더라도 반드시 콤마(,)를 사용하여 감싸준다.

tu = ((1,2), (3))
tu2 = (1,)
print(type(tu), type(tu2), tu, tu2)

<class 'tuple'> <class 'tuple'> ((1, 2), 3) (1,)

### **2) 리스트[list]**
리스트내의 값들은 수정할 수 있으며, 가공할 때 주로 사용한다.

수정 가능 (mutable), 가공이 필요한 데이터에 사용

In [ ]:
# 리스트[list]
li = [1,2,3,4,5]
li2 = [[1,2],[3,4],[5]]

print(type(li), type(li2), li, li2)

<class 'list'> <class 'list'> [1, 2, 3, 4, 5] [[1, 2], [3, 4], [5]]

### **3) 딕셔너리{dictionary}**
Key:Value로 대응되는 한 쌍의 값으로 이루어져 있다.

수정 가능 (mutable), Key를 통해 Value에 접근

In [ ]:
# 딕셔너리{dictionary} 하나의 키에 여러 값을 넣을 수 있지만, 키는 하나만 존재한다.
# 여러개의 딕셔너리를 리스트 안에 저장하는 데이터 형식을 주로 사용한다.

di = {'no':1, 'name':'dongjun', 'age':39, 'class':'wassup13'}
di2 = [{'name':'dongjun', 'age':39, 'class':'wassup1'},{'name':'kim', 'age':35, 'class':'wassup2'},{'name':'lee', 'age':32, 'class':'wassup1'}]
print(type(di), type(di2))
print(di)
print(di2)

<class 'dict'> <class 'list'>
{'no': 1, 'name': 'dongjun', 'age': 39, 'class': 'wassup13'}
[{'name': 'dongjun', 'age': 39, 'class': 'wassup1'}, {'name': 'kim', 'age': 35, 'class': 'wassup2'}, {'name': 'lee', 'age': 32, 'class': 'wassup1'}]

### **인덱스 구조**
자료형에는 각 값마다 index 번호가 부여되어 있다.
인덱스 번호는 0부터 시작하며, 끝 인덱스는 -1부터 적용한다.

e.g.) [1,2,3,4,5]의 인덱스는 각 0,1,2,3,4이며 -5,-4,-3,-2,-1이기도 하다.

In [ ]:
tu[0]

In [ ]:
li2[-2]

In [ ]:
# 딕셔너리 구조는 Key값으로 접근한다.

di['age']

39

In [ ]:
# 리스트 안의 딕셔너리는 리스트의 인덱스를 먼저 호출한 뒤 딕셔너리 Key를 호출한다.

di2[2]['age']

32

###연습 문제

In [ ]:
# 두번째 인덱스를 정수와 음수로 각각 출력한다.
# 양수는 0부터 시작(10 = 0, 20 = 1)
# 음수는 -1부터 시작(40 = -1, 30 = -2)

tu = (10, 20, 30, 40)
print(tu[1], tu[-3])

20 20

In [ ]:
# 세번째 인덱스의 값을 15로 수정하고, 결과를 출력한다.

li = [5, 10, 14, 20]
li[2] = 15
li

[5, 10, 15, 20]

In [ ]:
# A02의 age를 조회한다.

di = [{'ID':'A01', 'name':'lee', 'age':24},
      {'ID':'A02', 'name':'kim', 'age':21},
      {'ID':'A03', 'name':'park', 'age':23}]
print(di[0]['age'], di[1]['age'], di[2]['age'])
print(di[1]['age'])

24 21 23
21

##제어문과 리스트 컴프리헨션 다루기

파이썬에서는 if, for, while과 같은 제어문들이 있다.

가장 많이 쓰이는 if 조건문과 for 반복문을 연습해 본다.

### if 조건문  

특정 조건일 때만 실행되는 코드 구조

In [ ]:
# 각 인덱스를 불러와 합격 여부를 조회할 수 있다.

score = [72, 83, 98, 66, 86]
if score[1] >= 80:
  print('합격')

합격

In [ ]:
# elif는 후순위 조건이며, else는 조건문을 제외한 모든 조건을 갖는다.

score = [72, 83, 98, 66, 86]
grade = ['S', 'A', 'B', 'C']

if score[3]>=96:
  print(grade[0])
elif score[3]>=90:
  print(grade[1])
elif score[3]>=80:
  print(grade[2])
else:
  print(grade[3])

C

###for 반복문
지정된 범위를 순차적으로 호출하여 반복 실행한다.

In [ ]:
num = [1,2,3,4,5,6,7,8,9]

for i in num:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# for문을 2중으로 쌓을 수 있다. 그 이상도 가능하지만, 2중 for문 내로 해결하는 것이 좋다.

di = {}

for i in num:
  di[str(i) + '단'] = []
  for j in num:
    di[str(i) + '단'].append(i + j)

print(di)
di['7단'][5]

{'1단': [2, 3, 4, 5, 6, 7, 8, 9, 10], '2단': [3, 4, 5, 6, 7, 8, 9, 10, 11], '3단': [4, 5, 6, 7, 8, 9, 10, 11, 12], '4단': [5, 6, 7, 8, 9, 10, 11, 12, 13], '5단': [6, 7, 8, 9, 10, 11, 12, 13, 14], '6단': [7, 8, 9, 10, 11, 12, 13, 14, 15], '7단': [8, 9, 10, 11, 12, 13, 14, 15, 16], '8단': [9, 10, 11, 12, 13, 14, 15, 16, 17], '9단': [10, 11, 12, 13, 14, 15, 16, 17, 18]}

13

###for + if 활용
for문과 if문은 서로 혼용하여 쓸 수 있다.

In [ ]:
# 홀수와 짝수 분류하기

odd = []
even = []

for i in range(1,31):
  if i % 2 == 1:
    odd.append(i)
  elif i % 2 == 0:
    even.append(i)

print('홀수:', odd, '짝수:', even)

홀수: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29] 짝수: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

###리스트 컴프리헨션
리스트 안에서 반복문과 조건문을 사용하여 간결한 코드를 사용할 수 있다.

[ 결과값 for 사용변수 in 범위]

[ 결과값 if 조건문 else 조건 외 값 for 사용변수 in 범위]

In [ ]:
# 반복문을 통해 숫자 1~100까지 리스트에 저장

x = [i for i in range(1,101)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# 3의 배수만 저장

mul3 = [i * 3 for i in range(10)]
mul3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
# 반복문 + 조건문 결합하여 홀수 짝수 분류

odd = [i for i in range(1, 101) if i % 2 == 1]
print(odd)
even = [i for i in range(1, 101) if i % 2 == 0]
print(even)
odd_even = ['홀수' if i % 2 == 1 else '짝수' for i in range(1, 101)]
print(odd_even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

###종합 연습 문제

name	age	score

guhyeon	14	65

kim	16	74

na	15	98

park	19	82

lee	18	86

학생 정보 데이터를 바탕으로

'na' 학생의 점수를 조회
학생들의 점수를 리스트에 저장
A = 90점 이상, B = 80점 이상, C = 70점 이상 그 외 D를 리스트 컴프리헨션으로 작성

In [1]:
students = [{'name':'guhyeon', 'age':14, 'score':65},
            {'name':'kim', 'age':16, 'score':74},
            {'name':'na', 'age':15, 'score':98},
            {'name':'park', 'age':19, 'score':82},
            {'name':'lee', 'age':18, 'score':86}]

In [54]:
# 1. 'na' 학생의 점수를 조회

students[2]['score']

98

In [55]:
# 2. 학생들의 점수를 리스트에 저장

score = [i['score'] for i in students]
score

[65, 74, 98, 82, 86]

In [87]:
# 3. A = 90점 이상, B = 80점 이상, C = 70점 이상 그 외 D를 리스트 컴프리헨션으로 작성

grades = ['A' if 90 <= i:
          elif 'B' if 80 <= i:
          elif 'C' if 70 <= i:
          else 'D' for i in 'score']
grades

SyntaxError: invalid syntax (ipython-input-2468357267.py, line 3)